/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .main div div div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8em 0;
    align-items: center;
    align-content: end;
  }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
