.title{
  grid-area: title;
}
.boxes{
  grid-area: boxes;
}
.title{
  font-family: var(--fonts-title);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
.description{
  color: #FFF;
  font-size: 13px;
  transition: all 1s ease;
}
.cube,
.cube div,
.cube div img {
  height: 200px;
  width: 200px;
}
.cube {
  position: relative;
  margin: 2.5em auto 2em auto;
  transform-style: preserve-3d;
  transform: rotateX(780deg) rotateY(780deg);
  animation: giro 50s infinite linear;
}
@keyframes giro {
	0% { transform: rotateX(0deg) rotateY(0deg);}
	50% { transform: rotateX(380deg) rotateY(380deg);}
  100% { transform: rotateX(0deg) rotateY(0deg);}
}
.cube div {
  position: absolute;
  opacity: 0.8;
}
.cube div.cara1 {transform:translateZ(100px);}
.cube div.cara2 {transform:rotateY(90deg) translateZ(100px);}
.cube div.cara3 {transform:rotateY(180deg) translateZ(100px);}
.cube div.cara4 {transform:rotateY(-90deg) translateZ(100px);}
.cube div.cara5 {transform:rotateX(-90deg) translateZ(100px) rotate(180deg);}
.cube div.cara6 {transform:rotateX(90deg) translateZ(100px);}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .main {
    display: grid;
    column-gap: 2em;
    grid-template-areas:
        "title"
        "boxes";
  }
  .cubeWrapper{
    transform: scale(0.85);
    transition: all 1s ease-in-out;
  }
  .main a:hover .cubeWrapper{
    transform: scale(1);
 }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
