.container{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid red
}

/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .container{
    width: 1024px;
  }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
