.container{
  width: 100%;
    /* padding: 25px 10px 50px 10px; */
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .container{
    width: 1200px;
    margin: 0 auto;
  }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
