.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.main {
  padding: 1vh 10px 10px 10px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-row-gap: 1em;
  grid-template-areas:
      "dos"
      "uno";
}
.title,
.description{
    filter: var(--box-shadow);
}
.title {
    color:#FFF;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 10px;
}
.description{

}
.description p {
  font-size: 0.85rem;
  margin-top: 0.9rem;
  line-height: 30px;
  letter-spacing: 0.15em;
}
.uno img {
    transform: scale(0.7);
    border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%;
    transition: all 1s ease;
    animation: movingBlob 25s ease-in-out alternate infinite;
}
/* https://codepen.io/edwinchen26/pen/daoZqd */
/* https://9elements.github.io/fancy-border-radius/ */
@keyframes movingBlob {
    0%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40% }
    25%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    50%{border-radius: 76% 90% 87% 67% / 71% 77% 63% 82%}
    75%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    100%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40%}
}
.socialLinks{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.socialLinks li{
  opacity: 0.8;
  margin-right: 20px;
  transform: scale(1.1);
  transition: all 1s ease;
}
.socialLinks li:last-child{
  margin-right:0;
}
.socialLinks li:hover{
  opacity: 1;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .main {
    padding: 0;
    height: 75vh;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    column-gap: 4em;
    grid-template-areas:
        "uno dos";
  }
  .main p {
    text-align: left;
    font-size: 1.15rem;
    line-height: 35px;
  }
  .socialLinks{
    justify-content: left;
  }
  .title {
    font-size: 2em;
    text-align: left;
    line-height: 10px;
  }
  .uno img {
      transform: scale(1);
    }
}

/* Desktop 1920px */
@media screen and (min-width: 120em) {}
