.changeLang{
    font-size: 2em;
}
.header{
    width: 100%;
    padding-top:1em;
    grid-area: header;
    font-size: 0.5em;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 99999;
}
.header div:first-child{
    padding-left: 10px;
}
.header div:last-child{
    padding-right: 10px;
}
.main{
    grid-area: main;
    height: 100vh;
}
.footer{
    grid-area: footer;
    bottom: 0;
    position: fixed;
    z-index: 999;
    margin-bottom: 23px;
}
.footer div:first-child{
    padding-left: 3px;
}
.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {
    .footer{
        justify-self: center;
    }
}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .container{
        height: 100vh;
        grid-template-columns: 1fr 1fr auto 1fr 1fr;
        grid-template-areas:
        "header header header header header"
        "main main main main main"
        ". . footer . .";
    }
    .footer{
        margin-left: 20px;
        padding-left: 0;
        position: fixed;
        bottom: 3em;
    }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
