.header{
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  padding-left: 10px;
  padding-top: 15px;
}
.header a:last-child{
  padding-right: 20px;
}
.header ul{
  padding-right: 20px;
}
.contact{
  margin-right: -10px;
}
/* https://www.tutorialrepublic.com/faq/show-hide-dropdown-menu-on-mouse-hover-using-css.php */
.changeLang li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
.changeLang li a {
  font-weight: bold;
  display: block;
  color: var(--text-secondary);
  text-decoration: none;
  opacity: 0.6;
  transition: all 1s ease;
}
.changeLang li a:hover{
    opacity: 1;
}
.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  z-index: 9999;
  left: 0;
  opacity: 1;
}
.changeLang li:hover .dropdown {
  display: block;
}
.changeLang li .dropdown li a:hover{
  display: block;
  opacity: 1;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .header{
    width: 1200px;
    justify-content: space-between;
    padding-left: 0;
  }
  .header a:last-child{
    padding-right: 0;
  }
  .header ul{
    padding-right: 0;
  }
  .title{
    font-size: 1em;
  }
}

/* Desktop 1920px */
@media screen and (min-width: 120em) {}
