.title{
  grid-area: title;
}
.secondCol{
  grid-area: secondCol;
}
.firstCol{
  grid-area: firstCol;
  margin: 15px 0;
}
.lastCol{
  grid-area: lastCol;
  display: none;
}
.main {
  padding: 0 10px 11vh 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  'title'
  'secondCol';
}
.main img{
  width: 100%;
}
.main li {
    margin-bottom: 25px;
    line-height: 25px;
    font-size: 1.1em;
    filter: var(--box-shadow);
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .firstCol,
  .lastCol{
    display: block;
  }
  .firstCol{
    margin: 0;
  }
  .main {
    padding: 0 0 200px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 2em;
    grid-template-areas:
        "title title title"
        "firstCol secondCol lastCol";
  }
  .main li {
      margin-bottom: 25px;
      line-height: 25px;
      font-size: 0.9em;
  }
}

/* Desktop 1920px */
@media screen and (min-width: 120em) {}
