.title{
    color:#FFFF00;
    font-size: 1.4em !important;
}
.title:hover,
.skill:hover{
    color: #FFF;
}
.dia{
    color:#ffffff50;
    font-size: 0.8em !important;
}
.skill{
    color:#ffff0050;
    margin-left: 129px;
    margin-top: 5px;
}
.link{
    margin: 0 0 2em 0;
}
.link:last-child{
    margin:0;
}
