.relatedLink{
  font-family: var(--fonts-title);
  border: 2px solid var(--text-secondary);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}
.relatedLink:last-child{
  margin-bottom: 0;
}
.relatedLink h4{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.relatedLink small{
  color: #FFF;
}
.relatedLink span {
  display: flex;
  justify-content: space-between;
}
.relatedLink span svg {
  width: 16px;
  padding: 0
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}

/* Table */
@media screen and (min-width: 40em) {}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {}

/* Desktop 1920px */
@media screen and (min-width: 120em) { }
