.container,
.main{
  height: var(--screen-height);
}
.main{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-content:center;
  height: var(--screen-height);
}
.cube,
.cube div,
.cube div img {
  height: 200px;
  width: 200px;
}
.cube {
  transition: opacity .40s ease-in-out;
  position: relative;
  margin: 70px auto 60px auto;
  animation: giro 25s infinite linear;
  transform-style:preserve-3d;
}
@keyframes giro {
	0% { transform: rotateX(0deg) rotateY(0deg);}
	50% { transform: rotateX(780deg) rotateY(780deg);}
  100% { transform: rotateX(1080deg) rotateY(360deg);}
}
.cube div {
  position: absolute;
  -moz-cube-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  animation:rotate 15s infinite linear;
}
.cube div img {
  margin: 0;
  padding: 0;
  border: 0 none transparent;
  animation:rot 5s infinite linear;
}
.cube div {opacity: 0.8;}
.cube div.cara1 {background:rgba(255,255,255,.5);}
.cube div.cara2 {background:rgba(255,255,255,.8);}
.cube div.cara3 {background:rgba(255,255,255,.5);}
.cube div.cara4 {background:rgba(255,255,255,.7);}
.cube div.cara5 {background:rgba(255,255,255,.5);}
.cube div.cara6 {background:rgba(255,255,255,.6);}
.cube div.cara1 {transform:translateZ(100px);}
.cube div.cara2 {transform:rotateY(90deg) translateZ(100px);}
.cube div.cara3 {transform:rotateY(180deg) translateZ(100px);}
.cube div.cara4 {transform:rotateY(-90deg) translateZ(100px);}
.cube div.cara5 {transform:rotateX(-90deg) translateZ(100px) rotate(180deg);}
.cube div.cara6 {transform:rotateX(90deg) translateZ(100px);}
.title{
  font-family: var(--fonts-title);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 21px;
}
.description{
  color: #FFF;
  font-size: 13px;
  /* margin: 0 0 -70px 0; */
  transition: all 1s ease;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
  }
  .main a{
    /* opacity: 0.6; */
    filter: none;
    transition: all 1s ease;
    display: inline-block;
    filter: var(--box-shadow);
  }
  .main a:hover{
    opacity: 1;
  }
  .cubeWrapper{
    transform: scale(0.9);
    /* margin-bottom: -25px; */
    transition: all 1s ease-in-out;
  }
  .main a:hover .cubeWrapper{
    transform: scale(0.7);
 }
    /*
  .main a:hover .description{
    margin: 0 0 -50px 0;
  } */
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {
}