@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap');

:root {
  --screen-height: 475px;
  --text-color:#FFF;
  --text-secondary:#F8E71C;
  --text-secondary-hover:#FFFC00;
  --primary-color:;
  --line-height: 1.5;
  --background-color: linear-gradient(45deg,#72c602 0,#1cafeb 50%,#f1551d);
  --background-color-light: ;
  --background-color-dark: linear-gradient(45deg,#333 0,#000 50%,#333);
  --fonts-title:'Roboto Condensed', Helvetica Neue, sans-serif;
  --fonts-summary:'Roboto', Helvetica Neue, sans-serif;
  --box-shadow:drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.25));
}
html,
body,
h1,
h2,
h3,
h4,
p{
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fonts-summary);
  color: var(--text-color);
  background: var(--background-color);
  transition: all 1s ease;
  background-size: 210% 210%;
  animation: MoveBG 60s ease infinite;
}
@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
svg{
  width: 100%;
}
li{
  list-style-type: none;
}
a{
  color: var(--text-secondary);
  text-decoration: none;
}
a:hover{
  color: var(--text-secondary-hover);
}
ul{
  margin: 0;
  padding: 0;
}
li svg{
  padding: 0 5px 0 0;
  filter: var(--box-shadow);
}


.LinkList{
  padding-right: 2em;
  padding-left: 1em;
}
.card-true a,
.card-false a{
  width: 100%;
  height: 280px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 4em;
  color: white;
}
.card-true a{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image"
    "summary";
  box-shadow: -3px 4px 4px rgba(51, 51, 51, 0.25);
  transition: all 1s ease;
}
.card-true a:hover{
  box-shadow: none;
  transform: scale(0.9);
  opacity: 0.9;
}
.card-true .image {
  grid-area: image;
  place-self: center;
}
.card-true .summary {
  grid-area: summary;
  align-self: end;
  text-align: left;
  font-weight: normal !important;
}
.card-true div{
  text-align: center;
  box-shadow: none;
}
.card-true:nth-child(1) a{background: linear-gradient(180deg, #F5A766 0%, #EA3752 100%);}
.card-true:nth-child(3) a{background: linear-gradient(180deg, #EB5098 0%, #D742D6 100%);}
.card-true:nth-child(5) a{background: linear-gradient(180deg, #5D7EEC 0%, #332B9C 100%);}
.card-true:nth-child(7) a{background: linear-gradient(180deg, #2F2997 0%, #CC46D5 100%);}
.card-true:nth-child(9) a{background: linear-gradient(180deg, #F8E71C 0%, #FF51B9 100%);}
.card-true:nth-child(11) a{background: linear-gradient(180deg, #F5A666 0%, #EB4154 100%);}
.card-false a{
  display: flex;
  border: 1px solid white;
  text-align: center;
  align-items: center;
  transition: all 1s ease;
}
.card-false a:hover{
  transform: scale(0.9);
  opacity: 0.9;
}
.card-false .summary {margin: 0 auto;}
.card-false p{margin: 0 !important;}

/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .LinkList .container{
    /* width: 1200px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-true a,
  .card-false a{
    width: 340px;
    height: 280px;
    margin-bottom: 0;
  }
}
