@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap');

:root {
  --text-color:#FFF;
  --text-secondary:#F8E71C;
  --text-secondary-hover:#FFFC00;
  --primary-color:;
  --line-height: 1.5;

  --background-color: linear-gradient(45deg,#72c602 0,#1cafeb 50%,#f1551d);
  --background-color-light:;
  --background-color-dark:;

  --fonts-title:'Roboto Condensed', Helvetica Neue, sans-serif; 
  --fonts-summary:'Roboto', Helvetica Neue, sans-serif; 
  --box-shadow:drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.25));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fonts-summary);
  color: var(--text-color);
  background: var(--background-color);
  transition: all 1s ease;
  background-size: 150% 150%;
  animation: MoveBG 60s ease infinite;
}
@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

li{
  list-style-type: none;
}
a{
  color: var(--text-secondary);
  text-decoration: none;
  
}
a:hover{
  color: var(--text-secondary-hover);
}
ul{
  margin: 0;
  padding: 0;
}
li svg{
  padding: 0 5px 0 0;
  filter: var(--box-shadow);
}