@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap');

:root {
  --screen-height: 475px;
  --text-color:#FFF;
  --text-secondary:#F8E71C;
  --text-secondary-hover:#FFFC00;
  --primary-color:;
  --line-height: 1.5;
  --background-color: linear-gradient(45deg,#72c602 0,#1cafeb 50%,#f1551d);
  --background-color-light: ;
  --background-color-dark: linear-gradient(45deg,#333 0,#000 50%,#333);
  --fonts-title:'Roboto Condensed', Helvetica Neue, sans-serif;
  --fonts-summary:'Roboto', Helvetica Neue, sans-serif;
  --box-shadow:drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.25));
}
html,
body,
h1,
h2,
h3,
h4,
p{
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fonts-summary);
  color: var(--text-color);
  background: var(--background-color);
  background-color: #72c602;
  transition: all 1s ease;
  background-size: 150% 150%;
  animation: MoveBG 60s ease infinite;
}
@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
svg{
  width: 100%;
}
li{
  list-style-type: none;
}
a{
  color: var(--text-secondary);
  text-decoration: none;
}
a:hover{
  color: var(--text-secondary-hover);
}
ul{
  margin: 0;
  padding: 0;
}
li svg{
  padding: 0 5px 0 0;
  filter: var(--box-shadow);
}
/* https://www.tutorialrepublic.com/faq/show-hide-dropdown-menu-on-mouse-hover-using-css.php */
/* ######################### */
/* You can change this later */
/* ######################### */
header ul {
  padding: 0;
  list-style: none;
}
header ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
header ul li a {
  font-weight: bold;
  display: block;
  /* padding: 18px 10px 0 0; */
  color: var(--text-secondary);
  text-decoration: none;
  opacity: 0.6;
}
header ul li ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  opacity: 1;
}
header ul li:hover ul.dropdown {
  display: block;
}
header ul li ul.dropdown li {
  display: block;
}
footer a{
  font-size: 14px;
  font-weight: bold;
  color: #F8E71C;
  width: 100px;
  display: block;
  text-align: center;
  padding: 10px 0;
  border: 2px solid #F8E71C;
  filter: var(--box-shadow);
  border-radius: 5px;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
