.container{
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1em;
  background: red;
}
.main h2,
.main p{
    filter: var(--box-shadow);
}
.main h2 {
    color:#FFF;
    font-size: 1.5em;
    transform: scale(0.85);
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    line-height: 33px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.main p {
    font-size: 0.9em;
    line-height: 23px;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-weight: lighter;
}
.main img {
    border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%;
    transition: all 1s ease;
    animation: movingBlob 25s ease-in-out alternate infinite;
}
/* https://codepen.io/edwinchen26/pen/daoZqd */
/* https://9elements.github.io/fancy-border-radius/ */
@keyframes movingBlob {
    0%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40% }
    25%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    50%{border-radius: 76% 90% 87% 67% / 71% 77% 63% 82%}
    75%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    100%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40%}
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .container {
    height: 100vh;
    width: 720px;
    margin: 0 auto;
  }
  .main h2 {
    font-size: 1.3em;
  }
  .main p {
    font-size: 1em;
    line-height: 29px;
    text-align: left;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    grid-template-areas:
        "uno dos";
  }
  .main section:first-child{
      grid-area: uno;
  }
  .main section:last-child{
      grid-area: dos;
      align-items: center;
      display: grid;
  }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
