.main h2,
.main h3,
.main a p{
  filter: var(--box-shadow);
}
.main h2{
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.5;
}
.main h3{
  font-family: var(--fonts-title);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
.main a p{
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.spacePadding{
    padding: 4rem 0;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
  .main h2{
    opacity: 1;
  }
  .spacePadding{
      padding: 8rem 0;
  }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
