.main {
    height: 500px;
}
/* https://codepen.io/edwinchen26/pen/daoZqd */
/* https://9elements.github.io/fancy-border-radius/ */
.main img {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    transition: all 1s ease;
    animation: movingBlob 25s ease-in-out alternate infinite;
}
@keyframes movingBlob {
    0%{border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% }
    25%{border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%}
    50%{border-radius: 76% 90% 87% 67% / 71% 77% 63% 82%}
    75%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    100%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40%}
}
.main h1 {
    color:white;
    font-size: 1.6em;
    transform: scale(0.85);
    text-transform: uppercase;
    width: 290px;
    text-align: center;
    font-style: italic;
    line-height: 33px;
    letter-spacing: 1px;
    filter: var(--box-shadow);
    transition: all 1s ease;
    animation: backgroundColorPalette 5s;
    animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}
@keyframes backgroundColorPalette {
    0% {color: #FFF;}
    25% {color: #eaeaea;}
    50% {color: #FFF;}
    75% {color: yellow;}
    100% {color: #FFF;}
}
.main h1 span{
    font-weight: 100;
}
.main p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0.15em;
    filter: var(--box-shadow);
}
.main .sectionUno,
.main .sectionDos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 495px;
}
.main .sectionUno div{
    text-align: center;
}
.main .sectionDos{
    width: 99vw;
    padding-left: 10px;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .main {
        width: 1200px;
    }
    .main div{
        /* border: 1px solid red; */
    }
    .main p {
        line-height: 35px;
        font-size: 17px;
        font-weight: lighter;
        letter-spacing: 0.15em;
        filter: var(--box-shadow);
    }
    .main h1 {
        font-size: 1.6em;
        transform: scale(1);
    }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}