.header,
.footer{
    padding-left: 10px;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .footer{
        grid-area: footer;
        margin-left: 20px;
        padding-left: 0;
        margin: 3em 0;
    }
    .container{
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 1fr auto 1fr 1fr;
        grid-template-areas:
        "header header header . ."
        "main main main main main"
        ". . footer . .";
    }    
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}
