.main {
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    height: 500px;
}
.artwork{
    width: 300px;
    height: 300px;
}
.title{
    font-family: var(--fonts-title);
    font-weight: bold;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 1px ;
    text-transform: uppercase; 
    margin: 0 0 -15px 0;
}
.description{
    font-size: 14px;
    line-height: 22px;
    filter: var(--box-shadow);
}

/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table 768px */
@media screen and (min-width: 48em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .main {
        width: 1200px;
    }
    .artwork{
        width: 400px;
        height: 330px;
    }
    .description{
        width: 100%;
    }
}