.wrapper,
.main{
    display: flex;
    align-items: center;
}
.main {
    height: 75vh;
    width: 100vw;
}
.main a{
  padding-left: 10px;
  width: 100%;
  display: block;
}
.main .blgSummery{
    color: #FFF;
    font-size: 13px;
    line-height: 18px;
    height: 34px;
}
.main img {
    width: 290px;
    height: 290px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    transition: all 1s ease-in-out;
    animation: movingBlob 10s ease-in-out alternate infinite;
}
@keyframes movingBlob {
    0%{border-radius: 18% 82% 37% 70% / 44% 40% 14% 40%}
    25%{border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%}
    50%{border-radius: 76% 90% 87% 67% / 71% 77% 63% 82%}
    75%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    100%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40%}
}
.main .blgTitle{ 
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fonts-title);
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 59px;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .container{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100%;
    }
    .main{
        height: 100vh;
    }
    .main img {
        width: 210px;
        height: 210px;
    }
    .main a{
        opacity: 0.6;
        filter: var(--box-shadow);
    }
    .main a:hover{
        opacity: 1;
    }
    .main a:hover img{
        transform: scale(0.8);
    }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}