.main {
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.main img {
    width: 270px;
    height: 245px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    transition: all 1s ease;
    animation: movingBlob 25s ease-in-out alternate infinite;
}
@keyframes movingBlob {
    0%{border-radius: 18% 82% 37% 70% / 44% 40% 14% 40%}
    25%{border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%}
    50%{border-radius: 76% 90% 87% 67% / 71% 77% 63% 82%}
    75%{border-radius: 70% 30% 30% 70% / 60% 40% 20% 40%}
    100%{border-radius: 18% 82% 37% 70% / 44% 40% 54% 40%}
}
.main .blgDate,
.main .blgTitle{
    font-family: var(--fonts-title);
    filter: var(--box-shadow);
}
.main .blgDate{
    font-size: 14px;
    font-weight: bold;
}
.main .blgTitle{
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: -12px 0px -10px 0;
}
.main .blgSummery{
    font-size: 14px;
    line-height: 22px;
    filter: var(--box-shadow);
    width: 330px;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}