.main {
    display: flex;
    align-items: center;
    height: var(--screen-height);
    /* background: rgba(255, 225, 0, 0.475); */
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .container{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100%;
        /* background: rgba(255, 0, 0, 0.475); */
    }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}