.wrapper,
.main{
    display: flex;
    align-items: center;
}
.wrapper{
    justify-content:center;
    height: 90%;
}
.main {
    height: 70vh;
}
/* Mobile 320px  */
@media screen and (min-width: 30em) {}
/* Table */
@media screen and (min-width: 40em) {}
/* Desktop 980px to 1280px  */
@media screen and (min-width: 57em) {
    .wrapper{
        height: 100%;
    }    
    .main {
        height: var(--screen-height);
    }
}
/* Desktop 1920px */
@media screen and (min-width: 120em) {}